.container
{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background-color: orange;
    height:600px;
    
}
.left
{
    
    justify-content: center;
    padding-right: 118px;
    
}
.right
{
    justify-content: center;
    padding-left: 118px;
}
h1
{
    text-align: center;
}
textarea
{
    outline: none;
    font-size: 30px;
}